@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');

//Fonts
$font-display: "Mulish", sans-serif;
$font-text: "Mulish";

//grid
$grid-container-max-size: 1074px;

$screen-lg: 1440px;
$screen-md: 1152px;
$screen-sm: 834px;

$grid-gutter-width: 32px;
$grid-gutter-width-side: 20px;