.btn {
  border: 1px solid #EAEAEA;
  background-color: #fff;
  color: #757575;
  transition: 0.3s;
  padding: 17px 0;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  display: block;

  &:hover {
    color: #000;
  }

  &.btn[disabled] {
    opacity: 0.8;
    background-color: #9FDDF1;
  }


}